div.menu-block {
    position: fixed;
    left: 0;
    width: 200px;
    top: 0;
    bottom: 0;
    background-color: #0277BD;
    font-size: 18px;
}

div.menu-block a{
    color: white;
}

div.menu-block li.active::after {
    content: '';
    border: 23px solid transparent;
    border-left: 23px solid rgb(186, 104, 200);
    margin-left: 200px;
    z-index: 50;
    position: absolute;
    margin-top: -46px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

div.menu-block li.active>a,
div.menu-block li.active>a:focus,
div.menu-block li.active>a:hover{
    background-color: rgb(186, 104, 200);
    z-index: 50;
}

#back {
    color: #B0D2E7;
    font-size: 16px;
}

div.background-block {
    position: absolute;
    left: 200px;
    right: 0;
    background-color: #ECE9E9;
    padding: 40px;
    top: 0;
    min-height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

div.work-block {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

div.hierarchy_graphic {
    font-size: 18px;
}

div.level {
    background-color: blue;
    display: block;
    text-align: center;
}

div.node {
    background-color: red;
    display: inline;
    padding: 5px 10px 5px 10px;
    margin: 0 10px 0 10px;
}

div.hierarchy .work-block,
div.priority .work-block{
    margin: 0 10px 10px 0;
}

div.double .work-block {
    float: left;
    width: 49%;
}


.btn-item {
    float: right;
    background-color: transparent;
}

.vote-nav {
    margin: 0 -15px 0 -15px;
}

.vote-tab {
    width: 49.9%;
    background-color: #BCBCBC;
}

li.vote-tab.active > a,
li.vote-tab.active > a:hover,
li.vote-tab.active > a:focus,
li.vote-tab.active > a:active{
    background-color: #fff;
    color: #337AB7;
}

.btn-graph {
    float: right;
    margin-right: 10px;
    border-radius: 0px !important;
}

* a {
    border: none;
    outline: none;
    border-radius: 0px !important;
}

* a::focus {
    outline: none;
}


input[type="checkbox"]:checked+label{
    color: #fff;
    background-color: #337ab7;
}


div.title-block {
    background-color: rgb(2, 119, 189);
    font-size: 25px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    position: relative;
    z-index: 100;
    padding: 10px 0 15px 10px;
    color: white;
}

div.small-title {
    background-color: #DADADA;
    font-size: 20px;
    padding: 5px 0 5px 15px;
    position: relative;
    z-index: 0;
}


div.level-block {
    margin: 0 0 8px 0;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

div.answer-block {
    margin: 0 0 8px 0;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    background-color: #D2D2D1;
    padding: 0px 10px;
}

div.answer-block h4 {
    text-align: center;
}

.dropdown > .btn {
    border: 0px solid transparent !important;
    border-radius: 0 !important;
    font-size: 25px;
    background-color: #DADADA;
}

.dropdown-menu {
    border-radius: 0 !important;
}

li {
    list-style-type: none;
}

.nav-stacked > li + li {
    margin-top: 0 !important;
}

div.container {
    margin: 0;
    width: 100%;
}

.btn-new {
    padding: 10px 0 10px 0;
    width: 100%;
    border-radius: 0px !important;
}


.level-block>.btn-new, .alt-block>.btn-new  {
    background-color: white;
}

.level-block>.list-group-item,
.alt-block>.list-group-item {
    padding-left: 20px;
    padding-right: 5px;
}

.crit-block>.btn-new {
    background-color: #DADADA;
}

.btn-new:focus, .btn-new:hover{
    background-color: #E1BEE7;
}

.list-group-item:last-child,
.list-group-item:first-child{
    border-radius: 0 !important;
}
.button-group {
    width:100%;
    float: left;
    margin: 5px 0 20px 0;
    text-align: center;
}

.btn-block {
    width: 100%;
    border-radius: 0 !important;
    margin-top: 10px;
}
.sliders-priority {

}

.sliders-priority-title {
    background-color: #F0AD4E;
    padding: 10px;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
    z-index: 10;
    position: relative;
}

label{
    width: 100%;
    height: 100%;
}

.user-status {
    position: absolute;
    right: 200px;
    font-size: 17px;
    width: 200px;
}

.user-status .btn,
.user-status .label {
    padding: 2px 6px !important;
}

#popup-bg {
    position: absolute;
    left: -200px;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0.9);
    z-index: 500;
    min-height: 100%;
}

#popup {
    left: 50%;
    margin-left: -300px;
    width: 600px;
    padding: 20px;
    background: none repeat scroll 0% 0% #FFF;
    position: relative;
    margin-top: 50px;
}

#popup-graph{
    top: 10%;
    left: 50%;
    margin-left: -500px;
    padding: 20px 20px;
    background: white;
    position: absolute;
    height: 500px;
}

#popup .close,
#popup-graph .close {
    background: black;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    top: -6px;
    right: -7px;
}

#popup .content {
    text-align: center;
    margin-bottom: 10px;
}

div.node-btn {
    position: absolute;
    right: 0;
    margin-top: -5px;
}

div.list-item {
    border-radius: 3px;
    border: 0;
    padding: 5px 20px;
    cursor: pointer;
}

div.border-item {
    position: absolute;
    left: 15px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid lightgray;
    height: 30px;
    cursor: pointer;
    z-index: -1;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

ul.list-block {
    padding-left: 0;
}

div.compare-block {
    padding: 10px 300px;
    text-align: center;
}

div.right-node {
    float: right;
}

div.left-node {
    float: left;
}

