
<form action="" method="post">
{% if question_list %}
    <div>
    Ответьте на вопросы:
        <ul>
        {% for question in question_list %}
            <li>{{ question.group }}
            <label for="{{question.pk}}">{{ question.name }}: </label>
            <input id="{{question.pk}}" type="text" name={{question.pk}} value="{{question.description }}">
            <!--<input id="question.pk1" type='hidden' name="question_id" value="{{question.pk }}">-->
            </li>
        {% endfor %}
        </ul>
    </div>
{% else %}
nothing
{% endif %}


{% if level_nodes %}
    <div>
    Выберите критерии, отражающие суть проблемы:
        <ul>
        {% for level in level_nodes %}
            <li>{{ level.name }}
                <ul>
                {% for node in level.nodes %}
                    <li> <input type="checkbox" name="node" id="{{node.pk}}" value="{{node.node.pk}}"/>{{ node.node }}</li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </div>
{% else %}
nothing
{% endif %}

    <input type="submit" value="OK">
</form>

