<html ng-app="app">
<head lang="en">
    {% load staticfiles %}
    <script src="{% static 'ahp/lib/jquery-2.1.3.js' %}"></script>
    <script src="{% static 'ahp/lib/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <link rel="stylesheet" href="{% static 'ahp/lib/jquery-ui-1.11.4/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'ahp/lib/jquery-ui-1.11.4/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static 'ahp/lib/jquery-ui-1.11.4/jquery-ui.theme.css' %}">
    <script src="{% static 'ahp/lib/angular.js' %}"></script>

    <script src="{% static 'ahp/js/checklist-model.js' %}"></script>
    <script src="{% static 'ahp/js/slider.js' %}"></script>
    <script src="{% static 'ahp/js/controllers.js' %}"></script>
    <script src="{% static 'ahp/js/directives.js' %}"></script>
    <script src="{% static 'ahp/js/services.js' %}"></script>
    <script src="{% static 'ahp/js/app.js' %}"></script>

    <script src="{% static 'ahp/bootstrap/js/bootstrap-dropdown.js' %}"></script>
    <link rel="stylesheet" href="{% static 'ahp/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ahp/css/app_style.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script src="{% static 'ahp/lib/d3.v3.min.js' %}"></script>
    <script src="{% static 'ahp/lib/dagre-d3.js' %}"></script>
    <script src="{% static 'ahp/lib/line-chart.min.js' %}"></script>


</head>

{% verbatim angular %}
<body ng-controller="tabController">

<div class="menu-block">
<ul class="nav nav-pills nav-stacked" ng-init="settab='1'" >
    <br>
    <li role="presentation" ng-click="settab='0'" ng-class="{active:settab=='0'}"><a href="#">О программе</a></li>
    <li role="presentation" ng-click="settab='1'; tab.initHierarchy()" ng-class="{active:settab=='1'}"><a href="#">Иерарахия</a></li>
    <li role="presentation" ng-click="settab='2'; tab.initGroups()" ng-class="{active:settab=='2'}"><a href="#">Группы экспертов</a></li>
    <li role="presentation" ng-click="settab='3'; tab.initGroupHierarchyVotes()" ng-class="{active:settab=='3'}"><a href="#">Опросы</a></li>
    <li role="presentation" ng-click="settab='4'; tab.initGlobalPriority()" ng-class="{active:settab=='4'}"><a href="#">Расчет приоритетов</a></li>

</ul>
</div>


<div class="background-block">
    <div ng-show="settab=='1'" class="hierarchy">
        <div ng-include="'hierarchy.html'"></div>
    </div>

    <div ng-show="settab=='2'">
        <div ng-include="'group_template.html'"></div>
    </div>

    <div ng-show="settab=='3'" >
        <div ng-include="'votes.html'"></div>
    </div>

    <div ng-show="settab=='4'">
        <div ng-include="'priority.html'"></div>
    </div>
</div>
</body>
{% endverbatim angular %}
</html>