{% load staticfiles %}
<link rel="stylesheet" href="{% static 'ahp/bootstrap.css' %}" />

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-6 col-md-offset-3">
<br>
<div class="jumbotron">
    {% if form.errors %}
    <p>Неправильный логин или пароль. Пожалуйста, попробуйте снова</p>
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username" class="col-sm-2 control-label">Логин</label>
            <div class="col-sm-6">
                <input class="form-control" id="id_username" maxlength="30" name="id_username" value="{{ current_name }}" type="text">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Пароль</label>
            <div class="col-sm-6">
            <input class="form-control" id="password" maxlength="30" name="password" type="password" >
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Войти" class="btn btn-primary"/>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
    </form>

    {% endblock %}
</div>
</div>
</div>
</div>