{% csrf_token %}
{% verbatim angular %}

<div id="popup-bg" ng-hide="act_type==''">
    <form role="form" id="popup" name="popupForm">
        <div class="close" ng-click="closePopup()">x</div>
        <!--TODO проверка полей- пустое, совпадает с созданными, проверка написания мыла -->
        <div ng-show="check=='error'" class="alert alert-danger" role="alert">
            Необходимо указать название!
        </div>

        <div ng-show="check=='level_exist'" class="alert alert-danger" role="alert">
            Такой уровень уже существует!
        </div>
        <div ng-show="check=='alt_exist'" class="alert alert-danger" role="alert">
            Такая альтернатива уже существует!
        </div>
        <div ng-show="check=='node_exist'" class="alert alert-danger" role="alert">
            Такой критерий уже существует!
        </div>
        <div ng-show="check=='group_exist'" class="alert alert-danger" role="alert">
            Такая группа уже существует!
        </div>
        <div ng-show="check=='email_error'" class="alert alert-danger" role="alert">
            Ошибка в почтовом адресе
        </div>

        <div ng-show="entity_type=='level'" >

            <div ng-hide="act_type=='delet'">
                <div  class="form-group">
                    <label class="right inline">Название уровня:</label>
                    <input class="form-control" type="text" ng-model="name"/>
                </div>
                <div  class="form-group">
                    <label class="right inline">Описание уровня:</label>
                    <textarea class="form-control" ng-model="description"></textarea>
                </div>
                <div>
                    <button ng-show="act_type=='add'" class="btn btn-primary" ng-click="postLevel()">Добавить уровень</button>
                    <button ng-show="act_type=='edit'" class="btn btn-primary" ng-click="postLevel()">Сохранить изменения</button>
                    <button ng-click="closePopup()" class="btn btn-default">Отмена</button>
                </div>
            </div>

            <div ng-show="act_type=='delet'">
                 Вы действительно хотите удалить уровень <strong>{{name}}</strong> вместе со всеми критериями на нем? <br><br>
                    <button class="btn btn-danger" ng-click="postLevel()">Удалить уровень</button>
                    <button ng-click="closePopup()" class="btn btn-default">Отмена</button>
            </div>
        </div>

        <div ng-show="entity_type=='node'">
            <div ng-hide="act_type=='delet'">
                <div  class="form-group">
                    <label class="right inline">Название критерия:</label>
                    <input class="form-control" type="text" ng-model="name"/>
                </div>
                <div  class="form-group">
                    <label class="right inline">Описание критерия:</label>
                    <textarea class="form-control" ng-model="description"></textarea>
                </div>
                <div>
                    <button ng-show="act_type=='add'" class="btn btn-primary" ng-click="postNode()">Добавить критерий</button>
                    <button ng-show="act_type=='edit'" class="btn btn-primary" ng-click="postNode()">Сохранить изменения</button>
                    <button ng-click="closePopup()" class="btn btn-default">Отмена</button>
                </div>
            </div>
            <div ng-show="act_type=='delet'">
                 Вы действительно хотите удалить критерий <strong>{{name}}</strong>? <br><br>
                    <button class="btn btn-danger" ng-click="postNode()">Удалить критерий</button>
                    <button ng-click="closePopup()" class="btn btn-default">Отмена</button>
            </div>
        </div>


        <div ng-show="entity_type=='alternative'">
            <div ng-hide="act_type=='delet'">
                <div  class="form-group">
                    <label class="right inline">Название альтернативы:</label>
                    <input class="form-control" type="text" ng-model="name"/>
                </div>
                <div  class="form-group">
                    <label class="right inline">Описание альтернативы:</label>
                    <textarea class="form-control" ng-model="description"></textarea>
                </div>
                <div >
                    <button ng-show="act_type=='add'" class="btn btn-primary" ng-click="postNode()">Добавить альтернативу</button>
                    <button ng-show="act_type=='edit'" class="btn btn-primary" ng-click="postNode()">Сохранить изменения</button>
                    <button ng-click="closePopup()" class="btn btn-default">Отмена</button>
                </div>
            </div>
            <div ng-show="act_type=='delet'">
                Вы действительно хотите удалить альтернативу <strong>{{name}}</strong>? <br><br>
                <button class="btn btn-danger" ng-click="postNode()">Удалить альтернативу</button>
                <button ng-click="closePopup()" class="btn btn-default">Отмена</button>
            </div>
        </div>


        <div ng-show="entity_type=='goal'">
            <div  class="form-group">
                <label class="right inline">Цель:</label>
                <input class="form-control" type="text" ng-model="name"/>
            </div>
            <div  class="form-group">
                <label class="right inline">Описание:</label>
                <textarea class="form-control" ng-model="description"></textarea>
            </div>
            <div ng-show="act_type=='edit'">
                <button class="btn btn-primary" ng-click="postNode()">Сохранить изменения</button>
                <button ng-click="closePopup()" class="btn btn-default">Отмена</button>
            </div>
        </div>


        <div ng-show="entity_type=='group'">
            <div ng-hide="act_type=='delet'">
                <div  class="form-group">
                    <label class="right inline">Название группы:</label>
                    <input class="form-control" type="text" ng-model="name"/>
                </div>
                <div  class="form-group">
                    <label class="right inline">Описание группы:</label>
                    <textarea class="form-control" ng-model="description"></textarea>
                </div>
                <div >
                    <button ng-show="act_type=='add'" class="btn btn-primary" ng-click="postGroup()">Добавить группу</button>
                    <button ng-show="act_type=='edit'" class="btn btn-primary" ng-click="postGroup()">Сохранить изменения</button>
                    <button ng-click="closePopup()" class="btn btn-default">Отмена</button>
                </div>
            </div>

            <div ng-show="act_type=='delet'">
                Вы действительно хотите удалить группу <strong>{{name}}</strong> вместе со всеми экспертами?<br><br>
                <button class="btn btn-danger" ng-click="postGroup()">Удалить группу</button>
                <button ng-click="closePopup()" class="btn btn-default">Отмена</button>
            </div>
        </div>


        <div ng-show="entity_type=='user'">
            <div ng-hide="act_type=='delet'">
                <div  class="form-group">
                    <label class="right inline">Имя нового эксперта:</label>
                    <input class="form-control" type="text" ng-model="name"/>
                </div>
                <div  class="form-group">
                    <label class="right inline">Описание эксперта:</label>
                    <textarea class="form-control" ng-model="description"></textarea>
                </div>
                <div  class="form-group">
                    <label class="right inline">email:</label>
                    <input class="form-control" type="text" ng-model="email"/>

                </div>

                <div >
                    <button ng-show="act_type=='add'" class="btn btn-primary" ng-click="postUser()">Добавить эксперта</button>
                    <button ng-show="act_type=='edit'" class="btn btn-primary" ng-click="postUser()">Сохранить изменения</button>
                    <button ng-click="closePopup()" class="btn btn-default">Отмена</button>
                </div>

            </div>

            <div ng-show="act_type=='delet'">
                Вы действительно хотите удалить эксперта <strong>{{name}}</strong>?<br><br>
                <button class="btn btn-danger" ng-click="postUser()">Удалить</button>
                <button ng-click="closePopup()" class="btn btn-default">Отмена</button>
            </div>
        </div>


        <div ng-show="entity_type=='email'">
            <div ng-show="email==''">
                Вы не указали почтовый адрес для отправки письма. Укажите адрес и повторите действия.<br><br>
                <button ng-click="closePopup()" class="btn btn-default">OK</button>
            </div>
            <div ng-hide="email==''">
                По указанному адресу <strong>{{email}}</strong> будет выслано письмо следущего содержания:
                <div class="alert alert-info">{{text}}</div><br>
                <button ng-click="postEmail()" class="btn btn-primary" ng-hide="check=='success_email' || check=='error_email' || check=='load_email'">Отправить</button>
                <button class="btn btn-primary" ng-show="check=='load_email'">
                    <img src="/static/ahp/ajax-loader.gif" class="ajax-loader"/>
                </button>
                <button ng-click="closePopup()" class="btn btn-default" ng-hide="check=='success_email' || check=='error_email'" ng-disabled="check=='load_email'">Отмена</button>
            </div>
            <div ng-show="check=='success_email'" class="alert alert-success" role="alert">
                Письмо успешно отправлено
            </div>

            <div ng-show="check=='error_email'" class="alert alert-danger" role="alert">
                Ошибка при отправке письма. Попробуйте позже или перепроверьте адрес
            </div>
            <button ng-show="check=='error_email'" ng-click="closePopup()" class="btn btn-default">OK</button>
            <button ng-show="check=='success_email'" ng-click="refresh_user()" class="btn btn-default">OK</button>
        </div>


        <div ng-show="entity_type=='error'">
            {{message}} <br><br>
            <button ng-click="closePopup()" class="btn btn-default">OK</button>
        </div>


        <div ng-show="entity_type=='user_list'" >
            <h3>Эксперты</h3>
            <div ng-repeat="user in user_confidence_list | filter: {group: chosen_group}" class="list-group-item">
                <input type="checkbox" checklist-model="checked_user_list" checklist-value="user.id" ng-disabled="user.comparison_form!='check'">
                {{user.name}}
                {{user.avt_count}}
                {{user.confidence}}
                <span ng-show="user.hierarchy_form == 'check'" class="label label-success"><span class="glyphicon glyphicon-ok"></span></span>
                <span ng-show="user.hierarchy_form != 'check'" class="label label-danger"><span class="glyphicon glyphicon-minus"></span></span>
                <span ng-show="user.comparison_form == 'check'" class="label label-success"><span class="glyphicon glyphicon-ok"></span></span>
                <span ng-show="user.comparison_form != 'check'" class="label label-danger"><span class="glyphicon glyphicon-minus"></span></span>

            </div>
            <button ng-click="closePopup()" class="btn btn-primary">OK</button>
        </div>


        <div ng-show="entity_type=='answer_hierarchy'" >
            <div>
                <div class="h3">Критерии:</div>
                <div class="list-group">
                    <div ng-repeat="level in level_order" ng-if="$index > 1" class="level-block">
                        <div class="small-title">
                            {{level_hash[level].name}}
                        </div>
                        <div  ng-repeat="(node_key, node) in level_nodes_list[level]" ng-if="users_answer_hierarchy[user_id].indexOf(node)>-1" class="list-group-item">
                            {{node_hash[node].name}}
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="h3">Альтернативы:</div>
                <div class="list-group level-block">
                    <div ng-repeat="(node_key, node) in level_nodes_list[level_order[1]]"  ng-if="users_answer_hierarchy[user_id].indexOf(node)>-1" class="list-group-item">
                        {{node_hash[node].name}}
                    </div>
                </div>
            </div>
        </div>

         <div ng-show="entity_type=='answer_comparison'" >
             <div ng-repeat="(bunch_key, bunch) in users_answer_comparison[user_id]" class="answer-block">
                 <br>
                 <h4>{{node_hash[bunch.parent].name}}</h4>
                 <div ng-repeat="(bunch_key, node) in bunch.nodes">
                     &nbsp;&nbsp;&nbsp;{{node_hash[node.node].name}}
                     <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{node.weight*100}}%;">
                                {{Math.round(node.weight*1000)/10}}%
                            </div>
                     </div>
                 </div>
                 <br>

             </div>
         </div>

         <div ng-show="entity_type=='setting'" id="settingspopup">
            <div ng-include="'group_questions.html'"></div>
         </div>

        <div ng-show="entity_type=='alt_type'">
            <label>
                <input type="radio" ng-model="type" value="''">
                Попарно сравнивать альтернативы
            </label>
            <br/>
            <label>
                <input type="radio" ng-model="type" value="absolute_value">
                Через абсолютые значения
            </label>
            <br/>
            <button ng-click="postAltType()" class="btn btn-primary">OK</button>
        </div>

    </form>
</div>
{% endverbatim angular %}