{% verbatim angular %}
<div ng-controller="globalPriorityController" ng-init="init()" class="container priority">
    <popup></popup>
    <div ng-show="type=='absolute_value'" class="row work-block">
        <div class="title-block">
         Абсолютные показатели
        </div>
        <table class="table table-striped">
            <tr ng-repeat="(key, crit) in alt_edges" ng-if="$index == 0">
                <td>
                </td>
                <td ng-repeat="obj in crit">
                    {{node_hash[obj.alt].name}}
                </td>
            </tr>
            <tr ng-repeat="(key, crit) in alt_edges">
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{node_hash[key].name}}
                </td>
                <td ng-repeat="obj in crit">
                    <input type="text" ng-model="obj.value" class="form-control"/>
                </td>
            </tr>
        </table>
        <button ng-click="saveAbsoluteValue()" class="btn btn-graph btn-default">Сохранить</button>
        <br><br>
    </div>

    <div class="double">
        <div class="work-block">
            <div class="title-block">Группы</div>
            <div class="level-block">
                <div ng-repeat="(group_key, group) in group_hash" class="list-group-item">
                    <div class="active-group">
                        <input type="checkbox" checklist-model="checked_group_list" checklist-value="group_key" ng-disabled="!group.count.for_comparison>0">
                        {{group.name}}
                        <button ng-click="user_settings(group_key)" ng-disabled="!group.count.for_comparison>0" class="btn"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>

            <div class="sliders-priority-title">
                <label>
                <input type="checkbox" ng-model="show_priority" ng-disabled="checked_group_list.length<2" ng-checked="checked_group_list.length>1 && show_priority">&nbsp;&nbsp; yчитывать приоритеты групп
                </label>
            </div>
            <div ng-show="show_priority && checked_group_list.length>1" class="level-block">
                <div ng-repeat="group_key in checked_group_list" class="list-group-item">
                    {{group_hash[group_key].name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {{group_hash[group_key].priority}} %
                    <div ui-slider="slider.options"  ng-change="change(group_key)" min="0" max="100" ng-model="group_hash[group_key].priority"></div>
                </div>
            </div>
            <button ng-click="calculate()" ng-show="checked_group_list.length>0" class="btn btn-success btn-block">Расчитать глобальные приоритеты</button>
        </div>

        <div class="work-block">
            <div class="title-block">Альтернативы</div>
            <div class="level-block">
                <div ng-repeat="(node_key, node) in level_nodes_list[level_order[1]]" class="list-group-item">
                    {{node_hash[node].name}}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{node_priority[node]*100}}%;">
                            {{Math.round(node_priority[node]*1000)/10}}
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>

            <div class="title-block">
                Критерии
            </div>
            <div class="crit-block" >
                <div ng-repeat="level in level_order" ng-if="$index > 1" class="level-block">
                    <div class="small-title">
                        {{level_hash[level].name}}
                    </div>
                    <div  ng-repeat="(node_key, node) in level_nodes_list[level]" class="list-group-item">
                        {{node_hash[node].name}}
                        <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{node_priority[node]*100}}%;">
                            {{Math.round(node_priority[node]*1000)/10}}
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
            <button ng-click="calculate()" ng-show="calculated" class="btn btn-success btn-block">Анализ результатов</button>
        </div>

    </div>
</div>
{% endverbatim angular %}